$bg-dark-10: #121214;
$bg-dark-20: #17171A;
$bg-dark-30: #202024;
$bg-dark-40: #252529;
$bg-gray-10: #AFABB6;
$bg-gray-20: #afabb6a6;
$bg-gray-30: #afabb620;
$bg-blue-10: #068FFF;
$bg-blue-20: #068fff72;
$bg-white: #FFFFFF;
$shadow: rgba(0, 0, 0, 0.40) 0 5px 20px;
